html, body {
    height: 100%;
    width: 100%;
  }
  
  
  .container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color: #2196f3;
    padding: 10px;
    text-align: center;
  }
  .square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 5px;
  }
  
  img {
    height: 100px;
  }
  